.slider{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;
}
.slider img{
    /* max-width: 500px; */
    width: 100%;
    display: none;
}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1s;
}

.slider button{
    position: absolute;
    top: 50%;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}

@keyframes fade{
    from {opacity: 0.8}
    to {opacity: 0.9};
}